@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: FontOne;
    src: url(Fonts/61defec4a021d8c8284c11f0_AttilaSansUniform-Semibold.ttf);
}

@font-face {
    font-family: FontTwo;
    src: url(Fonts/61defec4a021d87f024c11f9_domaine-display-regular-italic.ttf);
}

@font-face {
    font-family: FontThree;
    src: url(Fonts/61defec4a021d8defb4c11f5_StabilGrotesk-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: #232025;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0vw 7vw;
    color: #fff;
    z-index: 999;
}

nav a{
    color: #fff;
    font-size: 1vw;
    text-decoration: none;
    /* mix-blend-mode: difference; */
    /* font-family: 'Saira Condensed', sans-serif; */
}

#logo{
    letter-spacing: 0.5vw;
    font-family: 'Saira Condensed', sans-serif;
}

.rght-nav{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.rght-nav a{
    font-family: FontOne;
    font-size: 0.8vw;
}

.ri-menu-3-fill{
    font-size: 1.2vw;
    cursor: pointer;
}

.ri-close-line{
    display: none;
    font-size: 1.5vw;
    cursor: pointer;
}

#nav-menu{
    position: absolute;
    top: -150%;
    width: 100%;
    height: 100vh;
    background-color: #d7a5a5;
    z-index: 2;
    transition: all cubic-bezier(1, 0, 0, 1)1s;
}

.part-1{
    width: 100%;
    height: 80vh;
    /* background-color: rgb(56, 56, 56); */
}

.part-1-top{
    display: flex;
    align-items: end;
    width: 100%;
    height: 60%;
    font-size: 6.5vw;
    letter-spacing: 1vw;
    padding: 0vw 7vw;
    font-family: FontOne;
    color: rgb(242, 238, 234);
    /* background-color: #b5b5b5; */
}

.part-1-top h1 span{
    position: absolute;
    font-size: 5vw;
}

.part-1-btm{
    display: flex;
    width: 100%;
    height: 40%;
}

.part-1-lft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.part-1-lft h3{
    width: 30vw;
    font-family: FontThree;
    font-size: 3vw;
    color: #ededed;
    font-weight: 500;
}

.part-1 h3 span{
    margin-left: 15vw;
}

.part-1-rght{
    padding-top: 5vh;
    width: 30%;
    height: 100%;
    color: #fff;
    font-size: 0.7vw;
    font-family: FontThree;
}

.part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.part-2-img-container{
    width: 85%;
    height: 90vh;
    background-image: url(Assets/6398c34ee464613a189e748c_Hero-bg-mango.png);
    background-position: center;
    background-size: contain;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.part-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0vw 7vw;
    height: 100vh;
}

.part-3 h1{
    color: #efefef;
    font-size: 5vw;
    font-family: FontThree;
    font-weight: 500;
    text-align: center;
    line-height: 10vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.part-3 h1 i{
    font-family: FontTwo;
}

.part-4{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 180vh;
    /* gap: 5vh; */
}

.pack{
    width: 15vw;
    position: absolute;
    pointer-events: none;
    z-index: 99;
    display: none;
}

.line{
    display: flex;
    position: absolute;
    left: 5vw;
    gap: 15vw;
    width: 90%;
    height: 1px;
    color: #fff;
    background-color: #7c7c7c;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.line h6{
    margin-top: -2vh;
    text-transform: uppercase;
    font-weight: 400;
    font-family: FontThree;
}

.items-p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    padding: 10vh 0vw;
}

.items h1{
    width: 40vw;
    margin-left: -20vw;
    font-size: 5vw;
    font-family: FontOne;
}

.items i{
    font-size: 5vw;
}

.tagline{
    margin-top: 40vh;
    margin-left: -20vw;
    color: #eee;
    font-family: FontOne;
    font-size: 8vw;
    letter-spacing: -0.2vw;
    line-height: 14vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.tagline2{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 30vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;

}

.lft-tagline2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    padding: 0vw 15vw 0vw 7vw;
    font-size: 4vw;
    color: #eee;
    font-family: FontOne;
}

.rght-tagline2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    padding: 0vw 5vw 0vw 2vw;
    font-size: 1.5vw;
    font-family: FontOne;
    color: #eee;
}

.part-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://uploads-ssl.webflow.com/61defec4a021d8fe954c11bd/61defec4a021d83ede4c11f8_stars.gif);
    color: #eee;
    gap: 7vh;
}

.part-5 h1{
    font-family: FontThree;
    font-size: 5vw;
    font-weight: 500;
    line-height: 10vh;
    text-align: center;
}

.part-5 h1 span{
    font-family: FontTwo;
}

.part-5 p{
    width: 15vw;
    font-family: FontThree;
}

.part-5 img{
    animation: circle 3s linear infinite;
}

@keyframes circle {
    100%{
        rotate: 360deg;
    }
}

.part-6, .part-8, .part-9{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.part-6 h1, .part-8 h1, .part-9 h1{
    font-size: 3.2vw;
    color: #eee;
    text-align: center;
    font-family: FontThree;
    font-weight: 500;
    line-height: 7vh;
}

.part-6 h1 span, .part-8 h1 span{
    font-family: FontTwo;
}

.part-7{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.strip{
    width: 220%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.part-7 h1{
    font-family: FontOne;
    color: #fff;
    font-size: 10vw;
}

.part-7 h1 span{
    color: transparent;
    -webkit-text-stroke:1px #fff;
}

.part-7 .strip:nth-child(2n){
    margin-left: -50vw;
}

.yes-no{
    display: flex;
    width: 100%;
    height: 50vh;
}

.part-8-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
}

.part-9{
    gap: 5vh;
}
.part-9 h1{
    font-size: 5vw;
}

.pic-container{
    position: relative;
    width: 100%;
    height: 80vh;
}

.pic-container img{
    width: 10vw;
}


@media (max-width:500px) {
    nav a{
        font-size: 7vw;
    }
    .rght-nav a{
        display: none;
    }
    .ri-menu-3-fill{
        font-size: 7vw;
    }
    .ri-close-line{
        font-size: 7vw;
    }
    .part-1-top {
        font-size: 12.5vw;
    }
    .part-1-lft h3{
        font-size: 6vw;
        width: 50vw;
    }
    .part-1-rght{
        font-size: 2.5vw;
    }
    .part-2-img-container{
        background-size: cover;
    }
    .part-3 h1, .items h1, .tagline{
        font-size: 10vw;
    }
    .tagline{
        line-height: 10vh;
    }
    .tagline2{
        flex-direction: column;
    }
    .lft-tagline2{
        width: 100%;
        font-size: 5vw;
    }
    .rght-tagline2{
        font-size: 3vw;
        padding: 0vw 15vw 0vw 7vw;
        width: 100%;
    }
    .part-5 h1{
        font-size: 8vw;
        line-height: 7vh;
    }
    .part-5 p{
        width: 50vw;
        text-align: center;
    }
    .part-6 h1, .part-8 h1, .part-9 h1{
        font-size: 12vw;
    }
    .strip{
        width: 500%;
    } 
    .part-7 h1{
        font-size: 20vw;
    }
}